*.zip filter=lfs diff=lfs merge=lfs -text
*.local filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
SimpleCNN/simple_cnn_weights_v1_3_epochs.h5 filter=lfs diff=lfs merge=lfs -text
SimpleCNN/simple_cnn_weights_v1_5_epochs.h5 filter=lfs diff=lfs merge=lfs -text
SimpleCNN/simple_cnn_weights_v2_3_epochs.h5 filter=lfs diff=lfs merge=lfs -text
